.error, nav ul li, .back-forth > *, .desk-middle p:first-of-type, .comment-section h3 {
  font-size: 1.5rem;
}

input, textarea, .footer-desktop > * {
  font-size: 1rem;
}

h1, h2, h3, .view-more {
  color: var(--blue);
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, nav ul li, a, footer p, .submit, .formSuccess, .view-more,
.error, .date {
  font-family: "Overlock", "Montserrat", "Verdana", "sans-serif";
  font-weight: 400;
}

p, .form-label span, input, textarea, .form-error, figcaption, ol li, label {
  font-family: "Source Sans Pro", "Montserrat", "Verdana", "sans-serif";
}

p, .form-label span, .form-error, .submit, .main-section ol, figcaption,
figcaption a, .popular-container a, .desk-right p, .about, .home, .contact, .posts, label {
  color: var(--brown);
}

@media only screen and (min-width: 1100px) {
  h1 {
    font-size: 2rem;
  }

  .post-heading, .comment-section h3 {
    font-size: 1.5rem;
  }

  .footer-desktop h3, .to-top i, h4 {
    font-size: 1.3rem;
  }
}

@media only screen and (min-width: 1930px) {
  nav ul li {
    font-size: 1.8rem;
  }
}

@media only screen and (min-width: 2200px) {
  h1 {
    font-size: 2.8rem;
  }

  h2, .post-container .post-heading {
    font-size: 2.5rem;
  }

  h4, .desk-middle p:first-of-type {
    font-size: 2rem;
  }

  p {
    font-size: 1.5rem;
  }
}